<.header>
  Asset Check Result
</.header>

<%= @social_issue_id %>
<%= @assets %>
<%= @num_of_youth_pop %>
<div>Your Solution is "Clean Water Facility"</div>
<div>The ID is 1</div>


<div>
    <.link href={~p"/"}>
      <.button>Back to Home</.button>
    </.link>
</div>
