<.header>
  New Asset
  <:subtitle>Use this form to manage asset records in your database.</:subtitle>
</.header>

<.asset_form changeset={@changeset} action={~p"/assets"} />

<.back navigate={~p"/assets"}>Back to assets</.back>
