<.header>
  New Social issue flow
  <:subtitle>Use this form to manage social_issue_flow records in your database.</:subtitle>
</.header>

<.social_issue_flow_form changeset={@changeset} action={~p"/social_issue_flows"} />

<.back navigate={~p"/social_issue_flows"}>Back to social_issue_flows</.back>
