<.header>
  New Social issue solution
  <:subtitle>Use this form to manage social_issue_solution records in your database.</:subtitle>
</.header>

<.social_issue_solution_form changeset={@changeset} action={~p"/social_issue_solutions"} />

<.back navigate={~p"/social_issue_solutions"}>Back to social_issue_solutions</.back>
