<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:social_issue_id]} type="number" label="Social Issue Id" />
  <.input field={f[:solution_id]} type="number" label="Solution Id" />
  <.input field={f[:deleted_at]} type="datetime-local" label="Deleted at" />
  <:actions>
    <.button>Save Social issue solution</.button>
  </:actions>
</.simple_form>
