<.header>
  New Social issue
  <:subtitle>Use this form to manage social_issue records in your database.</:subtitle>
</.header>

<.social_issue_form changeset={@changeset} action={~p"/social_issues"} />

<.back navigate={~p"/social_issues"}>Back to social_issues</.back>
