<.header>
  New Solution
  <:subtitle>Use this form to manage solution records in your database.</:subtitle>
</.header>

<.solution_form changeset={@changeset} action={~p"/solutions"} />

<.back navigate={~p"/solutions"}>Back to solutions</.back>
