<.header>
  New Solution asset
  <:subtitle>Use this form to manage solution_asset records in your database.</:subtitle>
</.header>

<.solution_asset_form changeset={@changeset} action={~p"/solution_assets"} />

<.back navigate={~p"/solution_assets"}>Back to solution_assets</.back>
